.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}


.left-image {
  flex: 1.1;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}

.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.right-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 90px;   
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 120px;
  opacity: 0.95;
}

h1 {
  font-size: 36px;
  font-weight: 800;  
  color: #222;
  line-height: 1.15;  
  margin-bottom: 35px;
}


/* FORM STYLES */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 14px;
  font-weight: 500;
  color: #575757;
  margin-bottom: 5px;
}

.form input {
  padding: 14px;
  border: 1.6px solid #dcdcdc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  background: #ffffff;
  transition: 0.3s;
}

.form input:focus {
  border-color: #a26754;
}

/* FORGOT PASSWORD */
.forgot {
  text-align: right;
  margin-top: -10px;
}

.forgot a {
  color: #a26754;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.login-btn {
  margin-top: 12px;
  padding: 14px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #955846, #cb9382);
  color: #fff;
  transition: 0.25s ease;
}

.login-btn:hover {
  filter: brightness(0.92);
}


@media (max-width: 950px) {
  .login-wrapper {
    flex-direction: column;
  }
  .left-image {
    height: 40vh;
    border-radius: 0;
  }
  .right-form {
    padding: 30px;
  }
}
