
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #1f1f1f;
}

.login-box {
  width: 350px;
  padding: 40px;
  background: #a26754;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  text-align: center;
  color: #fff;
}


h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #4da3ff;
}
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #ede7e7;
  color: #fff;
  font-size: 14px;
}
button {
  width: 100%;
  padding: 10px;
  background: #4da3ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #a26754;
}
