.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.left-image {
  flex: 1.2;
  height: 100vh;

  
  background: url("/assets/login-bg.png") no-repeat center;
  background-size: contain;

  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}

.right-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px 0 90px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 120px;
  opacity: 0.95;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  color: #222;
  line-height: 1.15;
  margin-bottom: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 14px;
  font-weight: 500;
  color: #575757;
}

.form input {
  padding: 14px;
  border: 1.6px solid #dcdcdc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.form input:focus {
  border-color: #a26754;
}

.forgot {
  text-align: right;
  margin-top: -10px;
}

.forgot a {
  color: #a26754;
  font-size: 13px;
  cursor: pointer;
}

.login-btn {
  margin-top: 12px;
  padding: 14px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(120deg, #955846 0%, #a26754 49%, #cb9382 100%);
  color: #fff;
  transition: 0.25s ease;
}

.login-btn:hover {
  filter: brightness(0.92);
}

@media (max-width: 950px) {
  .login-wrapper {
    flex-direction: column;
  }

  .left-image {
    height: 40vh;
    border-radius: 0;
    clip-path: none;
    background-size: cover;
  }

  .right-form {
    padding: 30px;
  }
}
