<div
  class="main-container"
  [ngClass]="{ 'collapsed': isCollapsed() }"
  *ngIf="!isAuthRoute()"
>
  <!-- left side menu area -->
  <div class="sidebar">
    
    <div class="logo-section">
      <img src="assets/logo-white.png" alt="Logo" class="logo" />
    </div>

    <ul class="menu">

      <li>
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-house"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/mux" routerLinkActive="active">
          <i class="fa-solid fa-film"></i>
          <span>Mux</span>
        </a>
      </li>

      <li>
        <a routerLink="/feedchecker" routerLinkActive="active">
          <i class="fa-solid fa-check-double"></i>
          <span>Feed Checker</span>
        </a>
      </li>

      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="fa-solid fa-user"></i>
          <span>Profile</span>
        </a>
      </li>

      <li>
        <a (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>
        </a>
      </li>

      <div class="toggle-btn" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars-staggered"></i>
      </div>

    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="isAuthRoute()" class="auth-wrapper">
  <router-outlet></router-outlet>
</div>
