<div class="inner-content">
    <div class="gpu-container">
        <div class="top-bar">
            <h2>
                <a href="javascript:void(0);" (click)="goBack()">
                    <img src="images/arrow-left.png" />
                </a>
                GPU DETAILS
            </h2>
        </div>
        <table class="gpu-table">
            <thead>
                <tr>
                    <th>DEVICE ID</th>
                    <th>DEVICE NAME</th>
                    <th>FAN SPEED</th>
                    <th>RUNNING ENCODERS</th>
                    <th>TOTAL MEMORY</th>
                    <th>USED MEMORY</th>
                    <th>FREE MEMORY</th>
                    <th>GPU UTILIZATION</th>
                    <th>ENCODING</th>
                    <th>DECODING</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>0</td>
                    <td>NVIDIA L4</td>
                    <td>N/A</td>
                    <td>67</td>
                    <td>23034 MiB</td>
                    <td>20168 MiB</td>
                    <td>2433 MiB</td>
                    <td>37%</td>
                    <td>62%</td>
                    <td>17%</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>NVIDIA L4</td>
                    <td>N/A</td>
                    <td>0</td>
                    <td>23034 MiB</td>
                    <td>4 MiB</td>
                    <td>22598 MiB</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NVIDIA L4</td>
                    <td>N/A</td>
                    <td>0</td>
                    <td>23034 MiB</td>
                    <td>4 MiB</td>
                    <td>22598 MiB</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>0%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>