.loader-wrapper {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    text-align: center;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.0);
}